body {

    margin:0;
}
header{

    text-align: center;
    
}

main {

    max-width: 1440px;
    margin:1rem;
}

form{

    text-align: center;
}

h3 {

    color: white;
    background-color: black;
    margin-block-start: 0;
    padding: 1rem;
    
}


p{

    color: rgb(185, 185, 185);
    font-size: 13px;
    
}

legend{

    text-align: left;
    font-weight: bolder;
    padding-bottom: 1rem;
    padding-top: 1rem;
}



section{

    border-bottom: rgb(2, 27, 70) solid 2px;
 padding-bottom:2px;
 margin-bottom: 1rem;
 margin: 1rem;
 background-color: bisque;
}

section p {
    
    padding-top: 0.5rem;
	padding-bottom:1.5rem;
    border-bottom:rgb(2, 27, 70) solid 4px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

fieldset {

    text-align: left;
   
}



  label {

   
    display: inline-block;
    color: rgb(185, 185, 185);
    font-size: 11px;
    padding-top: 1rem;
    padding-bottom: 7px;
    width: 63%;

    
}

input:focus {

color: rgb(103, 245, 9);
transition: 1s;

}

div input{

    font-family: inherit;
    font-size: 100%;
    height: 3rem;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    text-align: left;
	width: 99%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	outline: 0;
   
}

#state {

    font-family: inherit;
    font-size: 100%;
    height: 3rem;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    text-align: left;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
    outline: 0;
    width:  99.6%;

}

 

button {

    margin-top: 1rem;
    background-color: rgb(10, 180, 152);
    color: white;
    text-align: center;
    border-radius: 5px;
    border-radius: 5px;
    width: 102.5%;
    line-height: 2;
}
textarea{

    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    min-height: 20vh;
    width: 100%;

}

.copy {

    padding-bottom: 2rem;
}

footer{

    text-align: center;
   
}



::-webkit-input-placeholder {
    text-align: right;
    font-style: italic;
    padding: 10px;
    }
    :-moz-placeholder {
    text-align: right;
    font-style: italic;
    padding: 10px;
    }

    #zip{

        width: 37%;
    }


    @media(min-width:500px) {

        div{

            display: flex;
            align-items: center;
        }

        div label {

            width: 20%;
        }
       
        div input, 
        #state {

            width:80%;
        }
        button {

            width: 101.5%;
           }

           #zip{

            width: 25%;
           }

        

           
    }
    
    @media(min-width:768px) {

       

        
        
        

        div input,
        #state{

            width: 80%;
            
        }

       

        button {

            width: 101%;
           }

           #zip {

            width: 25%;
            
           }
    }

   
    @media(min-width:1440px) {

        div input {

        width: 80%;



}

        div label {

            width: 12%;
        }

       #state {

        width:  80.5%;
       }

        #zip{

    width: 15%;
    

        }

        button{

            width: 100.5%;
        }
    }
    